PORT=3000

# MongoDB Configuration
MONGO_USER=admin
MONGO_PASS=password
MONGO_DB_URI=mongodb://admin:password@localhost:27017/noc?authSource=admin

# Mailer Configuration
MAILER_SERVICE=gmail
MAILER_USER=your-email@gmail.com
MAILER_PASSWORD=your-app-password
MAILER_FROM_EMAIL=your-email@gmail.com
